<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>

  <%- include('layouts/cdn'); -%>
  <script src="/js/index.js"></script>
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/index.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/45a532c68d.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('layouts/header'); -%>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">LYIT Netball</h1>
      <p class="lead">Welcome to our netball team website. Stay up-to-date with current results and the latest roster
        changes.</p>
    </div>
  </div>

  <div class="h1 mb-2 text-center">Roster</div>
  <div class="container2">
    <img src="img/court.jpg" alt="netball court" style="width:50%;">
    <div class="bench">
      <span class="badge badge-pill badge-info p-3 itemOne">Player 6</span>
      <span class="badge badge-pill badge-info p-3 itemOne">Player 7</span>
      <span class="badge badge-pill badge-info p-3 itemOne">Player 8</span>
      <span class="badge badge-pill badge-info p-3 itemOne">Player 9</span>
      <span class="badge badge-pill badge-info p-3 itemOne">Player 0</span>
    </div>
    <div class="bottom-left">
      <span class="badge badge-pill badge-info p-3 itemOne">Player 4</span>
    </div>
    <div class="top-left">
      <span class="badge badge-pill badge-info p-3 itemOne">Player 1</span>
    </div>
    <div class="top-right">
      <span class="badge badge-pill badge-info p-3 itemOne">Player 2</span>
    </div>
    <div class="bottom-right">
      <span class="badge badge-pill badge-info p-3 itemOne">Player 5</span>
    </div>
    <div class="centered">
      <span class="badge badge-pill badge-info p-3 itemOne">Player 3</span>
    </div>
    <div class="playerInfo">
      <div class="item1">
        <div class="card h-100 text-center">
          <div class="card-block">
            <h4 class="card-title">Player 1</h4>
            <h2 class="m-0 mb-2"><i class="align-middle fas fa-basketball-ball"></i></h2>
          </div>
          <div class="row no-gutters">
            <div class="col-6 mt-2 mb-3">
              <div class="card card-block px-1 border-top-0 border-left-0 border-bottom-0">
                <h4>203</h4> <small class="text-uppercase">Appearances</small>
              </div>
            </div>
            <div class="col-6 mt-2 mb-3">
              <div class="card card-block px-1 border-0">
                <h4>185cm</h4> <small class="text-uppercase text-success">Height</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="container-sm">
    <div class="h1 mb-4 text-center">Player Details</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Position</th>
          <th scope="col">Appearances</th>
          <th scope="col">Height in cm</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(el) { %>
        <tr>
          <th scope="row"><%= el.id %></th>
          <td><%= el.name %></td>
          <td><%= el.position %></td>
          <td><%= el.appearances %></td>
          <td><%= el.height %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <div class="my-6"></div>
  <%- include('layouts/footer'); -%>
</body>

</html>

</html>