<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>

  <%- include('layouts/cdn'); -%>
  <script src="/js/index.js"></script>
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/index.css" rel="stylesheet">
</head>

<body>
  <%- include('layouts/header'); -%>

  <div class="jumbotron jumbotron-fluid indexJumbo">
    <div class="container jumboText">
      <h1 class="display-4">LYIT Netball</h1>
      <p class="lead">Welcome to our netball team website. Stay up-to-date with current results and the latest roster
        changes.</p>
    </div>
  </div>

  <div class="h1 mb-2 text-center">Roster</div>
  <div class="container2">
    <img src="img/court.jpg" alt="netball court" style="width:50%;">
    <div class="bench">
      <% notPlaying.forEach(function(el) { %>
      <span class="badge badge-pill badge-info p-3"><%= el.name %></span>
      <% }); %>
    </div>

    <% playing.forEach(function(el) { %>
    <div class="positional">
      <span class="badge badge-pill badge-info p-3"><%= el.name %></span>
    </div>
    <% }); %>
  </div>

  <div class="container-sm">
    <div class="h1 mb-4 text-center">Player Details</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Position</th>
          <th scope="col">Appearances</th>
          <th scope="col">Height in cm</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(el) { %>
        <tr>
          <td scope="row"><%= el.name %></td>
          <td><%= el.position %></td>
          <td><%= el.appearances %></td>
          <td><%= el.height %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <div class="my-6"></div>
  <%- include('layouts/footer'); -%>
</body>

</html>