<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Player Management</title>
    <%- include('layouts/cdn'); -%>
    <script src="/js/management.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body>
    <%- include('layouts/header'); -%>
    <div class="jumbotron jumbotron-fluid greenJumbo">
        <div class="container jumboText">
            <h1 class="display-4">Player Management</h1>
            <p class="lead">View, add, remove or update player details. A team can contain a maximum of 10 players.</p>
        </div>
    </div>

    <div class="container-sm">
        <div class="h1 mb-4 text-center">Player Details</div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Appearances</th>
                    <th scope="col">Height in cm</th>
                    <th scope="col">Save</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(function(el) { %>
                <form action="/updateById" method="POST">
                    <tr>
                        <td>
                            <input class="form-control" id="nameBox<%= el.id %>" name="name" type="text" size="20"
                                value="<%= el.name %>" pattern="[a-zA-Z]+"></input>
                        </td>
                        <td>
                            <select class="form-control" name="position" id="posBox<%= el.id %>">
                                <% positions.forEach(function(pos) { %>
                                <option value="<%= pos.name %>"><%= pos.name %></option>
                                <% }); %>
                            </select>
                        </td>
                        <td>
                            <input class="form-control" name="appearances" id="appBox<%= el.id %>" type="number"
                                size="20" value="<%= el.appearances %>" min="0" max="999" />
                        </td>
                        <td>
                            <input class="form-control" name="height" id="heightBox<%= el.id %>" type="number" size="20"
                                value="<%= el.height %>" min="1" max="210" />
                        </td>
                        <td>
                            <input name="num" type="hidden" value="<%= el.id %>" />
                            <button id="submitButton" class="btn btn-success"><i class="fas fa-save"></i></button>
                        </td>
                </form>
                <form action="/deluser" method="POST">
                    <td>
                        <input class="form-control" name="num" type="hidden" value="<%= el.id %>" />
                        <button id="delButton" class="btn btn-danger" type="submit"><i
                                class="fas fa-times-circle"></i></button>
                    </td>
                </form>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <% if(data.length < 10) { %>
        <button type="button" id="addPlayer" class="btn btn-success btn-lg btn-block">Add Player</button>
        <% } %>

        <div class="container" id="addPlayerContainer" style="visibility: hidden;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Appearances</th>
                        <th scope="col">Height in cm</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input class="form-control" id="insertNameBox" name="name" type="text" size="30"
                                pattern="[a-zA-Z]+">
                        </td>
                        <td>
                            <select class="form-control" id="insertPosBox" name="position">
                                <% positions.forEach(function(pos) { %>
                                <option value="<%= pos.name %>"><%= pos.name %></option>
                                <% }); %>
                            </select>
                        </td>
                        <td>
                            <input id="insertAppBox" class="form-control" name="appearances" type="number"
                                placeholder="0" min="0" max="999">
                        </td>
                        <td>
                            <input id="insertHeightBox" class="form-control" name="height" type="number"
                                placeholder="180" min="1" max="210">
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" id="insertButton" class="btn btn-success btn-lg btn-block">Insert Player</button>
        </div>
    </div>

    <% data.forEach(function(el) { %>
    <div id="posHeld<%= el.id %>" style="visibility: hidden;">
        <p><%= el.position %></p>
    </div>
    <% }); %>
    <%- include('layouts/footer'); -%>
</body>

</html>