<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tournament</title>

    <%- include('layouts/cdn'); -%>
    <script src="/js/tournament.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <%- include('layouts/header'); -%>
    <div class="jumbotron jumbotron-fluid tournamentJumbo">
        <div class="container jumboText">
            <h1 class="display-4">Tournament Results</h1>
            <p class="lead">The latest tournament results are displayed. Results are subject to the Irish Netball
                Associations approval.</p>
        </div>
    </div>

    <div class="container">
        <div class="h1 mb-4 text-center">Tournament Standings</div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <table class="table table-striped table-hover" width="60%">
                    <thead>
                        <tr>
                            <td>Team</td>
                            <td>Games</td>
                            <td>Win</td>
                            <td>Draw</td>
                            <td>Loss</td>
                            <td>Goals Scored</td>
                            <td>Goals Against</td>
                            <td>Difference</td>
                            <td>Points</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% result.forEach(function(el) { %>
                        <tr>
                            <td><img src="<%= el.image %>" width="45px" alt=""></td>
                            <td><%= el.games %></td>
                            <td><%= el.win %></td>
                            <td><%= el.draw %></td>
                            <td><%= el.loss %></td>
                            <td><%= el.scored %></td>
                            <td><%= el.against %></td>
                            <td><%= el.difference %></td>
                            <td><strong><%= el.points %></strong></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="my-6"></div>
    <div class="h1 mb-4 text-center">Game Results</div>
    <table class="table table-borderless">
        <tbody>
            <% data.forEach(function(el) { %>
            <tr>
                <td class="align-middle">
                    <img src="<%= el.homeImage %>" width="200px" class="mx-auto d-block">
                </td>
                <td>
                    <div class="card text-center">
                        <div class="card-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        Home
                                    </div>
                                    <div class="col-sm">
                                        <strong>Game #<%= el.id %></strong>
                                    </div>
                                    <div class="col-sm">
                                        Away
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <span class="badge badge-pill resultPadding"><%= el.homeResult %></span>
                                    </div>
                                    <div class="col-sm">
                                        <div class="resultPadding2 centerVs">vs</div>
                                    </div>
                                    <div class="col-sm">
                                        <span class="badge badge-pill resultPadding"><%= el.awayResult %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <%= el.home %>
                                    </div>
                                    <div class="col-sm">
                                    </div>
                                    <div class="col-sm">
                                        <%= el.away %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="align-middle">
                    <img src="<%= el.awayImage %>" width="200px" class="mx-auto d-block">
                </td>
            </tr>
            <% }); %>

        </tbody>
    </table>
    <%- include('layouts/footer'); -%>
</body>

</html>

</html>